@page "/"

<MudText Typo="Typo.h1">Warmtepomp geluidsberekening</MudText>
<MudText Class="mt-2">
    Sinds 1 april 2021 moeten warmtepompen en airco's voldoen aan <a href="https://zoek.officielebekendmakingen.nl/stb-2020-189.html">nieuwe geluidseisen</a> uit het Bouwbesluit 2012. De rijksoverheid heeft een <a href="https://www.rijksoverheid.nl/documenten/rapporten/2020/11/12/rekentool-geluid-van-buiten-opgestelde-installaties-voor-warmte--en-koudeopwekking">rekentool</a> laten opstellen.
</MudText>
<MudText Class="mt-2">
    De rijksoverheid heeft een <a href="https://www.rijksoverheid.nl/documenten/rapporten/2020/11/12/rekentool-geluid-van-buiten-opgestelde-installaties-voor-warmte--en-koudeopwekking">rekentool</a> opgesteld om te toetsen aan de regelgeving.
</MudText>
<MudText Class="mt-2">
    Deze website is een poging om de rekentool wat gebruiksvriendelijker te maken. Het resultaat is een ingevulde rekentool plus eventuele bijlagen die gebruikt kunnen worden bij een vergunningsaanvraag.
</MudText>



@code
{



}
